# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
wpg/wpg.Core/obj/*
wpg/wpg.Infrastructure/obj/*
wpg/wpg.Core/bin/*
wpg/wpg.Infrastructure/bin/*
wpg/wpg/bin/*
wpg/wpg/obj/*
wpg/.vs/wpg/v15/.suo
wpg/.vs/wpg/v15/sqlite3/storage.ide

